<div class="container lead-space">

  <h1>Admin Dashboard</h1>


  <div class="widget">
    <h3>Users</h3>
    Total Users: <%= @stats[:user_count] %><br>
    <a href="admin/users">Manage Users</a>
  </div>

  <div class="widget">
    <h3>Admins</h3>
    Total Admins: <%= @stats[:admin_count] %>
  </div>

  <div class="widget">
    <h3>Publications</h3>
    Total Publications: <%= @stats[:publication_count] %>
  </div>

  <div class="widget">
    <h3>News Organization Inquiries</h3>
    Total News Organization Inquiries: <%= @stats[:news_organization_inquiries_count] %>
  </div>


  <div class="metric-number">
    <%= @stats[:news_organization_inquiries_count] %>
    <label>Total News Organization Inquiries</label>
  </div>

</div>
