<div class="container editions-checkout">


  <div class="checkout-form">
    <h1>Checkout</h1>
    <p>Sign in or create an account to checkout</p>
    <%= link_to "Sign Up", new_user_registration_path %><br>
    <%= link_to "Sign In", new_user_session_path %><br>
  </div>

  <div class="purchase-item">
    <br>
    <h2><%= @edition.publication.name %></h2>
    <h3>
      <%= link_to @edition.name, @edition.url %>
      <span class="edition-price"><%= format_currency @edition.price %></span>
    </h3>
    <br>

    <%= link_to @edition.url do %>
      <%= image_tag @edition.cover_url%><br>
    <% end -%>

  </div>

</div>
