<div class="container editions-checkout">


  <div class="checkout-form">

    <% unless params[:sign_up] %>

      <div class="login-form">
        <h2>Sign in to purchase</h2>
        <%= simple_form_for(User.new, :as => :user, :url => purchase_edition_path(@edition), method: :put) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, :required => false, label: false, placeholder: 'Email', :autofocus => true %>
            <%= f.input :password, :required => false, label: false, placeholder: 'Password' %>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign in", class: 'btn-default' %>
            <p>
              Don't have an account?
              <%= link_to "Sign up", checkout_edition_path(@edition, sign_up: true) %>
            </p>
          </div>
        <% end %>
        <br>
      </div>

    <% else %>

      <div class="login-form">
        <h2>Sign up to purchase</h2>
        <%= simple_form_for(User.new, :as => :user, :url => registration_path(:user)) do |f| %>
          <div class="form-inputs">
            <%= f.input :email, placeholder: "Email", label: false, :autofocus => true %>
            <%= f.input :password, placeholder: "Password", label: false %>
            <%= f.input :password_confirmation, placeholder: "Password Confirmation", label: false%>
          </div>

          <div class="form-actions">
            <%= f.button :submit, "Sign up" %>
            <p>
              Already have an account?
              <%= link_to "Sign in", checkout_edition_path(@edition) %>
            </p>
          </div>
        <% end %>

      </div>

    <% end -%>

  </div>

  <div class="purchase-item">
    <br>

    <h1>You are purchasing</h1>
    <h3 class="publication-name"><%= @edition.publication.name %></h3>
    <h3>
      <span class="edition-name"><%= link_to @edition.name, @edition.url %></span>
      <span class="edition-price"><%= format_currency @edition.price %></span>
    </h3>
    <br>

    <%= link_to @edition.url do %>
      <%= image_tag @edition.cover_url%><br>
    <% end -%>

  </div>

</div>
