<!DOCTYPE html>
<html>
<head>
  <title>Newsstand</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= content_for(:head) %>
</head>
<body class="grey">

  <br>
  <div class="container insert text-center inbetween">
    <h1>
      <%= link_to 'Continue to Content', @continue_to, class: "continue-link" %>
    </h1>
    <br>
    <br>
    <h2>
      You are reading <%= link_to @edition.name, @edition.url %> of the <%= link_to @publication.name, @publication.url %>
    </h2>

    <p>
      If you enjoy this content, or otherwise find it useful, please show your
      support by purchasing a copy. You can still browse online, plus download
      and keep it.
    </p>

    <p>
      Purchasing a copy helps ensure more great content like it.
    </p>

    <br>
    <p>
      <%= link_to purchase_edition_url(@edition), method: :put, class: 'btn' do %>
        Purchase
        <span class="price"><%= @edition.pricef %></span>
      <% end -%>
      or&nbsp;
      <%= link_to 'Continue to Content', @continue_to, class: "continue-link" %>
    </p>
  <div>

  <%= yield %>
</body>
</html>
