<div class="grid grid24">
  <div class="edition-display">
    <div class="edition-buttons">
      <% if show_download_links %>
        <a class="btn btn-white" href="main.html">Read now</a>
      <a class="btn" href="<%= @edition.download_url %>"><i class="fa fa-cloud-download"></i> Download</a>
    <% else -%>
        <a class="btn btn-white" href="main.html">Read now</a>
      <%= render 'purchase_button' %>
    <% end -%>
    </div>
    <img src="cover.png" class="cover"></img>
  </div>
</div>


<div class="basement">
  <div class="grid grid24">
    <div class="right-box">
      <label>Published:</label> <%= format_date @edition.publish_date.to_date %>
      <br>
      <label>Price:</label> <%= format_currency @edition.price %>
      <br>
      <label>Download Size:</label> <%= format_size @edition.size, @edition.size_units %>
    </div>

    <h1><%= link_to @publication.name, @publication.url %></h1>
    <h2><%= @edition.name %></h2>
    <br>
  </div>
</div>
