<!DOCTYPE html>
<html>
<head>
  <title>Newstime Store</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "home", media: "all" %>
</head>
<body>

  <div class="logo-container">
    <div class="newstime-logo">
      <%= render 'newstime_pendulum_logo' %>
    </div>
  </div>

  <br>
  <div class="container">

    <div class="shelf clearfix">
      <% @editions.each do |edition| %>
        <div class="edition">
          <a href="<%= edition.publication.slug %>/<%= edition.slug %>/">
            <%= image_tag edition.cover_url %>
          </a>
          <a href="<%= edition.publication.slug %>/<%= edition.slug %>/"><%= edition.name %></a>
        </div>
      <% end -%>
    </div>

    <div class="shelf clearfix">
      <% @editions.each do |edition| %>
        <div class="edition">
          <%= image_tag edition.cover_url %>
          <a href="<%= edition.publication.slug %>/<%= edition.slug %>/"><%= edition.name %></a>
        </div>
      <% end -%>
    </div>

    <div class="shelf clearfix">
      <% @editions.each do |edition| %>
        <div class="edition">
          <%= image_tag edition.cover_url %>
          <a href="<%= edition.publication.slug %>/<%= edition.slug %>/"><%= edition.name %></a>
        </div>
      <% end -%>
    </div>

    <div class="shelf clearfix">
      <% @editions.each do |edition| %>
        <div class="edition">
          <%= image_tag edition.cover_url %>
        </div>
      <% end -%>
    </div>


    <div class="shelf clearfix">
      <% @editions.each do |edition| %>
        <div class="edition">
          <%= image_tag edition.cover_url %>
        </div>
      <% end -%>
    </div>

    <div class="shelf clearfix">
      <% @editions.each do |edition| %>
        <div class="edition">
          <%= image_tag edition.cover_url %>
        </div>
      <% end -%>
    </div>

  </div>

</body>
</html>
