
<div class="grid grid24 lead-space">
  <%= render 'accounts/accounts_menu', selected: :publications %>

  <div class="row">
    <br>

    <div class="col offset4 span16">
      <h3>Publications</h3>
      <p>Manage your publications from this page.</p>
      <table class="table">
        <tr>
          <th>Publication</th>
          <th>
          </th>

        </tr>
        <% @publications.each do |pub| %>
          <tr>
            <td>
              <%= link_to pub.name, account_publication_url(pub) %>
            </td>
            <td>
              <%= link_to "Visit Site", publication_url(pub) %> |
              <%= link_to "+ Upload New Edition",  new_account_edition_url(pub) %>
            </td>
          </tr>
        <% end -%>

        <tr>
          <td colspan="2">
            <%= link_to "+ New Publication", new_publication_url %>
          </td>
        </tr>
      </table>


    </div>
  </div>

</div>
