<div class="container">
  <h1><%= current_organization.name %></h1>
  <%= link_to "Add Edition", new_edition_path %><br>
  <%= link_to "Add Publication", new_publication_path %>

  <h3>Publications</h3>
  <% current_organization.publications.each do |pub| %>
    <%= pub.name %><br>
  <% end -%>

  <h3>Users</h3>
  <% current_organization.users.each do |user| %>
    <%= user.username %><br>
  <% end -%>
</div>
