<%= render "nav_logo" %>
<div class="nav-bar">
  <%= form_tag search_url, method: 'get' do |f| %>
    <input type="search" placeholder="Search" name="q" id="search"/>
  <% end -%>

  <div class="login-links">
    <% if current_organization %>
      <%= link_to current_organization.name, "/organization" %>
      &bull;
    <% end -%>
    <% if user_signed_in? %>
      <%= link_to current_user.username, "/account" %>
      &bull;
      <%= link_to('Sign out'.html_safe, destroy_user_session_path(return_to: request.fullpath), :method => :delete) %>
    <% else %>
      <%= link_to('Sign in', new_user_session_path(return_to: request.fullpath))  %>
    <% end %>
  </div>
</div>
