<div class="logo-container">
  <div class="newstime-logo">
    <a href="/">
      <%= render 'newstime_pendulum_logo' %>
    </a>
  </div>
</div>

<div class="top-bar">
  <form action="/search" method="get" accept-charset="utf-8">
    <input type="search" placeholder="Search" name="q" id="search"/>
  </form>

  <div class="login-links">
    <% if current_organization %>
      <%= link_to current_organization.name, "/organization" %>
      &bull;
    <% end -%>
    <% if user_signed_in? %>
      <%= link_to current_user.username, "/account" %>
      &bull;
      <%= link_to('Sign out'.html_safe, destroy_user_session_path(return_to: request.fullpath), :method => :delete) %>
    <% else %>
      <%= link_to('Sign in', new_user_session_path(return_to: request.fullpath))  %>
    <% end %>
  </div>

</div>
