<div class="grid grid24 lead-space change-password-form">

  <%= render 'accounts_menu', selected: :change_password %>

  <div class="row">

    <div class="col offset4 span16">
      <br>
      <h2>Change your password</h2>

      <%= simple_form_for(current_user, :as => :user, :url => password_path(:user), :html => { :method => :put }) do |f| %>
        <%= f.error_notification %>

        <%= f.input :reset_password_token, :as => :hidden %>
        <%= f.full_error :reset_password_token %>

        <div class="form-inputs">
          <%= f.input :password, :label => "New password", :autofocus => true %>
          <%= f.input :password_confirmation, :label => "Confirm your new password" %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Change my password" %>
        </div>
      <% end %>


    </div>
  </div>
</div>
