<div class="container lead-space">
  <a href="<%= newstime_press_url %>" target="_blank">Press</a><br>
  <a href="<%= wallet_url %>">Wallet</a><br>
  <a href="<%= library_url %>">Library</a><br>
  Change Password<br>
  Update Account Info<br>
  Subscriptions<br>
  <% current_user.subscriptions.each do |sub| %>
    <li><%= link_to sub.publication.name, sub.publication.url %> &bull; <%= sub.pricef %> <a>Cancel</a> </li>
  <% end -%>
  <br>

  Transactions

  <div class="container wallet lead-space">
    <%= @wallet.balancef %>
    <label>Wallet Balance</label>
  </div>

  <div class="container">
    <a href="/funds/add">Add Funds</a><br>
    <a href="/funds/source">Link a Funding Source</a>
  </div>
</div>
