<div class="container lead-space">
  <div class="container wallet lead-space">
    <%= @wallet.balancef %>
    <label>Wallet Balance</label>
  </div>

  <h3>Wallet Transactions</h3>
  <table class="table transactions">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Balance</th>
    </tr>
    <% @wallet.transactions.each do |transaction| %>
      <tr>
        <td><%= format_date transaction.created_at %></td>
        <td><%= raw transaction.desc_html %></td>
        <td><%= format_transaction_amount transaction.amount %></td>
        <td><%= format_transaction_amount transaction.balance %></td>
      </tr>
    <% end -%>
  </table>

  <br><br>

  <h3>Purchases</h3>
  <table class="table transactions">
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Total</th>
    </tr>
    <% current_user.purchases.each do |purchase| %>
      <tr>
        <td><%= format_date purchase.created_at %></td>
        <td><%= raw purchase.desc_html %></td>
        <td><%= format_transaction_amount purchase.total %></td>
      </tr>
    <% end -%>
  </table>

  <br><br>

  <div class="container">
    <a href="/funds/add">Add Funds</a><br>
    <a href="/funds/source">Link a Funding Source</a>
  </div>

  <br><br>

  <a href="<%= newstime_press_url %>" target="_blank">Press</a><br>
  <a href="<%= wallet_url %>">Wallet</a><br>
  <a href="<%= library_url %>">Library</a><br>

  Change Password<br>
  Update Account Info<br>
  Subscriptions<br>
  <% current_user.subscriptions.each do |sub| %>
    <li><%= link_to sub.publication.name, sub.publication.url %> &bull; <%= sub.pricef %> <a>Cancel</a> </li>
  <% end -%>
  <br>

</div>
